.col-lg-6.col-image-about:before {
    content: "";
    background: var(--accent-primary);
    position: absolute;
    height: 100%;
    width: 52%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.faqs-img:before {
    content: "";
    background: var(--accent-primary);
    position: absolute;
    border-radius: 8px;
    width: 90%;
    height: 100%;
    top: -15px;
    left: 0px;
    z-index: -1;
}